
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<form action="{page.uid}" method="GET">
	<div class="form-group">
		<input class="form-control" name="search">
	</div>
	<button class="btn btn-primary" type="submit">Rechercher</button>
</form>
<hr>
<h1>Les organismes de BVB</h1>
<hr>
<f:flashMessages />


<f:for each="{organismes}" as="organisme">
	<div class="col-xs-4">
		<div class="well">
			<h3>{organisme.raisonSociale}</h3>
			<hr>
				{organisme.ville},
				{organisme.tel}
				{organisme.email}
				{organisme.siret}
			<hr>
			<p>
			 	{organisme.description}
			</p>
		</div>
	</div>
</f:for>
</f:section>