
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Les contacts</h1>
<f:flashMessages />

<f:for each="{contacts}" as="contact">
	<div class="col-xs-4">
		<div class="well">
			<h4>{contact.nom} {contact.prenom}</h4>
			<hr>
				{contact.email}
			<hr>
			<p>
				{contact.presentation}
			</p>
		</div>
	</div>
</f:for>


</f:section>